apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "verdaccio.fullname" . }}
  labels:
    {{- include "verdaccio.labels" . | nindent 4 }}
spec:
  replicas: {{ default 1 .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "verdaccio.selectorLabels" . | nindent 6 }}
  strategy:
    {{- if .Values.persistence.enabled }}
    type: Recreate
    rollingUpdate: null
    {{- else }}
    type: RollingUpdate
    {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/htpasswd-secret: {{ include (print $.Template.BasePath "/htpasswd-secret.yaml") . | sha256sum }}
        {{- include "verdaccio.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "verdaccio.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "verdaccio.serviceAccountName" . }}
      {{- include "verdaccio.imagePullSecrets" . | nindent 6 }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.extraInitContainers }}
      initContainers:
        {{- include "tplvalues.render" (dict "value" . "context" $) | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ template "verdaccio.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 4873
              name: http
          livenessProbe:
            httpGet:
              path: /-/ping
              port: http
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path: /-/ping
              port: http
            initialDelaySeconds: 5
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- with .Values.persistence.mounts }}
            {{- include "tplvalues.render" (dict "value" . "context" $) | nindent 12 }}
            {{- end }}
            - mountPath: /verdaccio/storage
              name: storage
              readOnly: false
            {{- if .Values.useSecretHtpasswd }}
            - mountPath: /verdaccio/storage/htpasswd
              name: htpasswd
              subPath: htpasswd
              readOnly: true
            {{- end }}
            - mountPath: /verdaccio/conf
              name: config
              readOnly: true
          {{- with .Values.extraEnvVars }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ .Values.existingConfigMap | default (include "verdaccio.fullname" .) }}
      {{- if .Values.useSecretHtpasswd }}
      - name: htpasswd
        secret:
          secretName: {{ include "verdaccio.fullname" . }}-htpasswd
      {{- end }}
      {{- with .Values.persistence.volumes }}
      {{- include "tplvalues.render" (dict "value" . "context" $) | nindent 6 }}
      {{- end }}
      - name: storage
      {{- if .Values.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.existingClaim | default (include "verdaccio.fullname" .) }}
      {{- else }}
        emptyDir: {}
      {{- end -}}
    {{- if .Values.affinity }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 8 }}
    {{- end }}
    {{- if .Values.tolerations }}
      tolerations:
      {{- toYaml .Values.tolerations | nindent 8 }}
    {{- end }}
    {{- if .Values.priorityClass.enabled }}
      priorityClassName: {{ .Values.priorityClass.name }}
    {{- end }}
